{% extends 'base.html' %}
{% load static %}

{% block head %}

<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/form.css' %}"
/>
<script defer src="{% static 'js/cl-form.js' %}"></script>

{% endblock %}

{% block content %}
<h1>Create new template</h1>
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <div class="create-update-btn">
    <button type="submit" class="button-37">Submit!</button>
  </div>
</form>

  {% endblock %}