{% extends 'base.html' %}
{% load static %}
{% block head %}
<link 
rel="stylesheet"
type="text/css"
href="{% static 'css/cl-detail.css' %}"
/>
{% endblock %}

{% block content %}
<h1>{{ cl.position }}</h1>
<div class="app-actions">
  <a href="{% url 'cl-update' cl.id %}" class="btn warn">Edit</a>
  <a href="{% url 'cl-delete' cl.id %}" class="btn danger">Delete</a>
</div>

<div class="cl-detail-container">
  <table class="cl-detail-table">
    <thead>
      <tr>
        <th>Date Created</th>
        <td>{{cl.cl_date}}</td>
      </tr>
      <tr>
        <th>Role</th>
        <td>{{cl.position}}</td>
      </tr>
      <tr>
        <th>tags</th>
        <td>{{cl.tags}}</td>
      </tr>
    </thead>
  </table>
<div>

<h3>Cover Letter</h3>
<div class="letter-cont">
  {{cl.letter}}
</div>

<section class="doc-container">
  <h3> Resume: </h3>
  <div class="doc-img">
    {% if doc %}
      <a 
        href="{{doc.url}}" 
        alt="A document of {{doc.id}}"
      > {{ cl.position }}_{{ cl.cl_date }} Resume </a>
    {% else %}
      <p>No document uploaded</p>
    {% endif %}
  </div>
</section>

<h3>Upload corresponding Resume</h3>
<p id="file-name"></p>
    <form 
      action="{% url 'add-doc' cl.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        <input type="file" name="doc-file" id="file-input">
      </label>
      <br>
      <button type="submit" class="button-37">Upload Document</button>
    </form>
  
    
{% endblock %}