{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<h1>This is the details page for {{ cl.position }} at {{cl.company}}</h1>
<div class="app-actions">
  <a href="{% url 'cl-update' cl.id %}" class="btn warn">Edit</a>
  <a href="{% url 'cl-delete' cl.id %}" class="btn danger">Delete</a>
</div>
<h1>Please upload resume to match cover letter</h1>
<p id="file-name"></p>
    <form 
      action="{% url 'add-doc' cl.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose Resume
        <input type="file" name="doc-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Document</button>
    </form>
<h2> Uploaded Document: {{ doc.id }} </h2>
{% comment %} <section class="doc-container">
  <div class="doc-img">
    {% if doc.url %}
      <a 
        src="{{doc.url}}" 
        alt="A document of {{doc.id}}"
      > {{ doc.id }} </a>
    {% else %}
      <p>No document uploaded</p>
    {% endif %}
  </div>
</section> {% endcomment %}
    
{% endblock %}