{% extends 'base.html' %}
{% load static %}
{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/app-index.css' %}"
/>
{% endblock %}
{% block content %}

<section class="card-container">
  <h1>List of Cover Letters</h1>
  <div class="top-row">
    <a href="{% url 'cl-create' %}"> Create New </a>
  </div>
  <div class="dashboard-table">
    <table class="table table-bordered table-hover dt-responsive">
      <tr class="headers">
        <th>Position</th>
        <th>Date</th>
        <th>Role</th>
        <th>Tags</th>
      </tr>
      {% for cl in cls %}
      <tr class="rows">
        <th><a href="{% url 'cl-detail' cl.id %}">{{ cl.position }}</a></th>
        <th>{{ cl.date }}</th>
        <th>{{ cl.position }}</th>
        <th>{{ cl.tags }}</th>
      </tr>
      {% endfor %}
    <table>
  </div>
</section>

{% endblock %}