{% extends 'base.html' %}
{% load static %}
{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/cl-index.css' %}"
/>
{% endblock %}
{% block content %}

<section class="card-container">
  <h1>List of Cover Letters</h1>
  <div class="cl-header">
    <a href="{% url 'cl-create' %}"><i class="fa-regular fa-square-plus" style="color: #009879"></i> Create New </a>
  </div>
  <div class="dashboard-table">
    <table class="content-table">
      <tr class="headers">
        <th>Position</th>
        <th>Date</th>
        <th>Role</th>
        <th>Tags</th>
      </tr>
      {% if cls %}
        {% for cl in cls %}
        <tr class="rows">
          <td><a href="{% url 'cl-detail' cl.id %}">{{ cl.position }}</a></td>
          <td>{{ cl.cl_date }}</td>
          <td>{{ cl.position }}</td>
          <td>{{ cl.tags }}</td>
        </tr>
        {% endfor %}
        {% else %}
      <tr class="rows">
        <td>No Templates</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    {% endif %}
    <table>
  </div>
</section>

{% endblock %}