{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/small_quest.png' %}"
  >
  <script defer src="https://kit.fontawesome.com/c0a779179e.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <title>Application Tracker</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header class="header">
    <nav class="navbar">
      <img src="{% static 'images/small_quest.png' %}" alt="Quest Logo">
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'home' %}"><img src="{% static 'images/home.png' %}"> Home</a></li>
          <li><a href="{% url 'about' %}"><img src="{% static 'images/about.png' %}"> About</a></li>
          <li><a href="{% url 'app-index' %}"><img src="{% static 'images/log.png' %}"> Dashboard</a></li>
          <li><a href="{% url 'app-create' %}"><img src="{% static 'images/create.png' %}"> New application</a></li>
          <li><a href="{% url 'cl-index' %}"><img src="{% static 'images/resume.png' %}"> Templates </a></li>
          <li><a href="{% url 'logout' %}"><img src="{% static 'images/logout.png' %}">Log out</a></li>
          <li class="social"><a href="https://www.linkedin.com/in/soundaryanattuva/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a></li>
          <li class="social"><a href="https://github.com/SoundaryaNattuva" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-github" style="color: #ffffff;"></i></a></li>
        {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'home' %}"><img src="{% static 'images/home.png' %}"> Home</a></li>
          <li><a href="{% url 'about' %}"><img src="{% static 'images/about.png' %}"> About</a></li>
          <li class="social"><a href="https://www.linkedin.com/in/soundaryanattuva/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a></li>
          <li class="social"><a href="https://github.com/SoundaryaNattuva" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-github" style="color: #ffffff;"></i></a></li>
          {% endif %}
        
      </ul>
    </nav>
  </header>
  <main>
    <div class="body-container">
    {% block content %}
    {% endblock %}
    <div>
  </main>
</body>
</html>

