.content-table {
  font-family: 'quicksand', sans-serif;
  margin: 25px 0;
  font-size: .9em;
  border-collapse: collapse;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba( 0, 0 ,0, 0.15)
}

.content-table tr th {
  background-color: #009879;
  color: white;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td{
  padding: 12px 15px;
}

.content-table tbody tr{
  border-bottom: 1px solid gray;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* .content-table tbody tr.active-row{
  font-weight: bold;
  color: 0098789;

} */

table a:link {
  color: rgb(1, 0, 0); /* Set the color for unvisited links */
  text-decoration: none; /* Remove underline */
}

/* Style visited links */
table a:visited {
  color: rgb(255, 255, 255); /* Set the same color as unvisited links */
  text-decoration: none; /* Remove underline */
}