.app-container{
  align-items: center;
}

.app-header{
  color:#282c2b;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  /* border: 1px solid rgb(225, 55, 83); */
}

.app-info{
  display: flex;
  justify-content: center; /* Horizontally center the flex items */
  align-items: center;
}

.app-actions{
  font-size: 16px;
}

.content-table {
  font-family: raleway;
  margin: 25px 0;
  font-size: .9em;
  border-collapse: collapse;
  min-width: 400px;
  max-width: 600px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba( 0, 0 ,0, 0.15);
}

.content-table tr th {
  background-color: #009879;
  color: white;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td{
  padding: 12px 15px;
}

.content-table th{
  width: 100px;
}


.content-table tbody td{
  border-bottom: 1px solid gray;
  color: black
}
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table .rows td {
  border: 1px solid gray;
}

.app-notes{
  min-width: 600px;
  max-width: 800px;
  border-radius: 10px;
  border: solid 1px #009879; 
  background-color: rgb(240, 240, 240);
  padding: 2px 20px;
  margin: 10px;
  padding-bottom: 15px;
  padding-top:20px;
}

.app-notes h2{
  font-size: 24px;
}

.button-37 {
  background-color: #009879;
  border: 1px solid #009879;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  margin-top: 20px;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}

button-37[type=submit]:hover {
  background-color: #45a049;
}

form button{
  align-items: center;
}

.interview-table table {
  width: calc(100% - 16px);
  text-align: left;
  border-collapse: collapse;
  margin: 0 8px;
}

.interview-table table td {
  vertical-align: top; 
}

.interview-table td {
  padding: 8px 5px;
  font-size: var(--font-reg);
}

.interview-table th {
  font-size: var(--font-l);
  padding: 5px 5px 0;
  border-bottom: rgb(36, 116, 248) solid 2px;
}

.interview-table tr:nth-child(even) {
  background-color: #f3f3fd;
}

.interview-table th{
  width: 100px;
  font-size: 16px;
  background-color: #009879;
  border: solid 1px green;
  border-radius: 10px;
  color: white;
}

.interviewsContainer{
  border-radius: 10px;
  padding: 2px 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  min-width: 600px;
  max-width: 800px;
}

.scheduled-interviews, .new-interview {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  box-sizing: border-box; 
  font-size: 16px;
  flex: 1;
}

.interview-form{
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.scheduled-interviews{
  display: flex;
  justify-content: center; 
}

.new-interview{
  padding-top: 5px;
  padding-left: 10px;
  align-items: left;
  justify-content: space-around;
}

.new-interview label{
    display: inline-block;
}


.interview-table tr td{
  color:rgb(37, 32, 33);
  border: 1px solid rgb(188, 188, 188);
  height: auto;
  vertical-align: top;
  background-color: #fff;
}

.int_rows tr {
  color:rgb(37, 32, 33);
  border: 1px solid green;
  height: auto;
  vertical-align: top;
}

.scheduled-interviews{
  overflow-y: auto;
  overflow-x: auto;
}

.interview-table .cell_note{
  width: 200px;
}

.new-interview {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 25px;
}
