table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  background-color: rgb(255, 255, 255);
  text-align: left;
  padding: 8px;
}

.headers{
  color: black;
  font-size: 20px;
}

.rows{
  color: black
}