.dashboard-table{
  overflow-y: auto; /* This adds a vertical scroll bar */
  overflow-x: auto; /* This adds a horizontal scroll bar if needed */
}

.content-table {
  font-family: raleway;
  margin: 25px 0;
  font-size: .9em;
  border-collapse: collapse;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba( 0, 0 ,0, 0.15);
}

.content-table tr th {
  background-color: #009879;
  color: white;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td{
  padding: 12px 15px;
}


.content-table tbody tr{
  border-bottom: 1px solid gray;
  color: black
}
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tr:hover{
  background-color: #c8efe7;
}

.content-table .rows td {
  border: 1px solid gray;
}

table a:link {
  color: rgb(1, 0, 0);
  text-decoration: none;
}

table a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.top-row{
  font-size: 16px;
  text-align: right;
  width: 500px;
}

.top-row a{
  color: #000000;
  text-decoration: none; 
}
