body {
  color: #FEFCFB;
  background-color: #001F54;
}

/* Style unvisited links */
a:link {
  color: blue; /* Set the color for unvisited links */
  text-decoration: none; /* Remove underline */
}

/* Style visited links */
a:visited {
  color: blue; /* Set the same color as unvisited links */
  text-decoration: none; /* Remove underline */
}