body {
  background-color: #f2f4f8;
  color: rgb(0, 0, 0);
  margin: 0; /* Remove default margin */
  font-family: raleway;
  margin-left: 50px;
  margin-bottom: 50px;
  font-size: 16px;
}

.header {
  text-decoration: none;
  padding: 0px;
  display: block;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #009879;
  width: 200px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.navbar li {
  margin-bottom: 0px;
}

.navbar a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgb(48, 189, 112);
}

.body-container {
  margin-left: 210px;
  font-size: 18px;
}

img{
width: 100px;
padding-top: 100px;
}

.bottom-navbar{
  padding-top: 150px;
  color: white;
}

.bottom-navbar li{
  padding-top: 10px;
  text-align: center;
}

.bottom-navbar img{
  width:15px;
}

.navbar li img{
  width:15px;
  padding-top: 10px;
}

.navbar ul li{
  height: 100%;
  align-items: left;
}

.network img{
  width: 50px;

}

.social{
  /* align-items: center;
  text-align: center; */
  padding-left: 5px;
}
