{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<h1>This is the details page for {{ app.position }} at {{app.company}}</h1>
<div class="app-actions">
  <a href="{% url 'app-update' app.id %}" class="btn warn">Edit</a>
  <a href="{% url 'app-delete' app.id %}" class="btn danger">Delete</a>
</div>

<div class="interviewsContainer">
  <h1> Interviews </h1>
  <form
  action="{% url 'add-interview' app.id %}"
  method="post" 
  class="subsection-content"
  autocomplete="off"
  >
  <p>FORM</p>
    {% csrf_token %}
    {{ interview_form.as_p }}
    <button type="submit" class="btn submit">Add Interview</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Interview Type</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{interview.date}}</td>
          <td>{{interview.interviewType}}</td>
        </tr>
    </tbody>
  </table>
</div>
  {% endblock %}

