{% extends 'base.html' %}
{% load static %}
{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
rel="stylesheet"
type="text/css"
href="{% static 'css/app-detail.css' %}"
/>
<script defer src="{% static 'js/app-detail.js' %}"></script>
{% endblock %}

{% block content %}
<div class="app-container">
  
  <div class="app-header">
    {{ app.company }} </br>
    {{ app.position }}
    <div class="app-actions">
      <a href="{% url 'app-update' app.id %}" class="btn warn">Edit</a>
      <a href="{% url 'app-delete' app.id %}" class="btn danger">Delete</a>
    </div>
  </div>

  <div class="app-info">
    <table style="width:100%" class="content-table">
      <tr>
        <th>Date Submitted:</th>
        <td>{{ app.app_date }}</td>
      </tr>
      <tr>
        <th>Submission:</th>
        <td>{{ app.get_application_type_display }}</td>
      </tr>
      <tr>
        <th>Location:</th>
        <td>{{ app.city }}, {{ app.state }}</td>
      </tr>
      <tr>
        <th>Status:</th>
        <td>{{ app.get_status_display }}</td>
      </tr>
      <tr>
        <th>Salary Range:</th>
        <td>{{ app.minsalary }} - {{ app.maxsalary }}</td>
      </tr>
      <tr>
        <th>Tech Stack:</th>
        <td>{{ app.techstack }}</td>
      </tr>
    </table>
  </div>
  
  <div class="app-notes">
    <h3>Remarks</h3>
    {{ app.notes }}
  </div>

<div class="interviewsContainer">
    <div class="scheduled-interviews">
      <table class="interview-table">
        <thead>
          <tr><th>Date</th><th>Time</th><th>Type</th></tr>
        </thead>
        <tbody>
          {% for interview in interviews %}
          <tr>
            <td>{{interview.date}}</td>
            <td>{{interview.interviewType}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="new-interview">
      <form
      action="{% url 'add-interview' app.id %}"
      method="post" 
      class="interview-form"
      autocomplete="off"
      >
      {% csrf_token %}
      {{ interview_form.as_p }}
      <button type="submit" class="button-37">Add Interview</button>
      </form>
    </div>
  </div>
</div>
  {% endblock %}

