{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/app-index.css' %}"
/>
{% endblock %}

{% block content %}
<section class="card-container">
  <h1>List of all Applications</h1>
  <div class="create-header">
    <a href="{% url 'app-create' %}"><i class="fa-regular fa-square-plus" style="color: #009879"></i> Create New </a>
  </div>
  <div class="dashboard-table">
    <table class="content-table">
      <tr class="headers">
        <th>Position</th>
        <th>Company</th>
        <th>Enthusiasm</th>
        <th>Work Arrangement</th>
        <th>Location </th>
        <th>Tech Stack</th>
        <th>Status</th>
        <th>Min Salary</th>
        <th>Max Salary</th>
      </tr>
      {% if apps %}
        {% for app in apps %}
        <tr class="rows">
          <td><a href="{% url 'app-detail' app.id %}">{{ app.position }}</a></td>
          <td>{{ app.company }}</td>
          <td>{{ app.get_enthusiasm_display }}</td>
          <td>{{ app.get_work_arrangement_display }}</td>
          <td>{{ app.city }}, {{ app.state }}</td>
          <td>{{ app.techstack }}</td>
          <td>{{ app.get_status_display }}</td>
          <td>{{ app.minsalary  }}</td>
          <td>{{ app.maxsalary }}</td>
        </tr>
        {% endfor %}
      {% else %}
        <tr class="rows">
          <td colspan="9">No Applications</td>
        </tr>
      {% endif %}
    <table>
  </div>
</section>

{% endblock %}